/* 修改 element css 默认变量 */
/* :root {
  --el-menu-bg-color: #475569;
  --el-menu-text-color: white;
  --el-menu-hover-bg-color: #283a54;
  --el-menu-border-color: transparent;
}

.el-sub-menu .el-menu {
  background-color: #3d4c60;
} */
